---
import Section from "@/components/Section.astro";
import { work } from "@cv";
---

<Section>
  <div class="max-w-4xl mx-auto text-center mt-4">
    <ul class="space-y-8">
      {
        work.map(({ name, startDate, endDate, position, summary }) => {
          const startYear = new Date(
            startDate.split("-").reverse().join("-"),
          ).getFullYear();
          const endYear = endDate
            ? new Date(endDate.split("-").reverse().join("-")).getFullYear()
            : "Actual";
          const years = `${startYear} - ${endYear}`;

          return (
            <li class="border border-gray-200 rounded-lg p-4 text-left">
              <article class="space-y-4">
                <header class="flex justify-between items-start">
                  <div>
                    <h3 class="font-medium text-lg text-gray-400">{name}</h3>
                    <h4 class="font-normal text-md text-gray-300">
                      {position}
                    </h4>
                  </div>
                  <time class="text-sm text-gray-200">{years}</time>
                </header>
                <footer>
                  <p class="text-base text-gray-200">{summary}</p>
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
