---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import WorldMap from "@/icons/WorldMap.astro";
import Download from "@/icons/Download.astro";
import type { SocialIcon } from "@/types";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
};

---

<Section>
  <div class="max-w-3xl mx-auto w-full bg-gradient-to-br from-slate-800/80 to-slate-900/80 rounded-2xl shadow-xl border-2 border-sky-900/30 p-4 md:p-6 flex flex-col md:flex-row items-center gap-4 mb-4">
    <figure class="w-32 h-32 md:w-48 md:h-48 flex-shrink-0 flex flex-col items-center justify-center mt-6 mb-6">
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover rounded-lg border-4 border-sky-400 shadow-lg"
        decoding="async"
        loading="eager"
        fetchpriority="high"
      />
      <span class="inline-flex items-center gap-1 px-3 py-1 bg-sky-600/20 text-sky-300 rounded-full text-xs font-semibold tracking-wide uppercase border border-sky-500/30 text-center mt-4 w-full max-w-[90vw] min-w-[70vw] sm:max-w-max sm:min-w-0 sm:w-auto justify-center">
        <span class="text-base">👨‍💻</span> {label}
      </span>

    </figure>
    <div class="flex flex-col items-center md:items-start gap-2 w-full">
      <div class="flex flex-col w-full items-center text-center sm:items-start sm:text-left">
        <h1 class="text-2xl sm:text-4xl font-bold text-white">{name}</h1>
      </div>
      <div class="flex items-center gap-2 text-sm text-gray-300">
        <WorldMap class="w-8 h-8" />
        <span>{city}, {region}</span>
      </div>
      <footer class="flex gap-3 mt-3 justify-center md:justify-start">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              aria-label={`Enviar correo a ${name}`}
              class="bg-gradient-to-r from-sky-400/20 to-cyan-400/20 text-sky-200 border border-sky-500/30 p-2 rounded-md hover:bg-sky-400/40 transition-all duration-200 shadow-sm"
            >
              <Mail class="w-6 h-6" />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              aria-label={`Llamar a ${name}`}
              class="bg-gradient-to-r from-sky-400/20 to-cyan-400/20 text-sky-200 border border-sky-500/30 p-2 rounded-md hover:bg-sky-400/40 transition-all duration-200 shadow-sm"
            >
              <Phone class="w-6 h-6" />
            </a>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];
            if (!Icon) return null;
            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                aria-label={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gradient-to-r from-sky-400/20 to-cyan-400/20 text-sky-200 border border-sky-500/30 p-2 rounded-md hover:bg-sky-400/40 transition-all duration-200 shadow-sm"
              >
                <Icon class="w-6 h-6" />
              </a>
            );
          })
        }
        
      </footer>

      <div class=" mt-4">
        <a
          href="/resources/CV_Giovanni_Rodigo_Salinas_Villa.pdf"
          title="Descargar CV"
          aria-label={`Descargar CV de ${name}`}
          class="bg-gradient-to-r from-sky-400/20 to-cyan-400/20 text-sky-200 border border-sky-500/30 p-2 rounded-md hover:bg-sky-400/40 transition-all duration-200 shadow-sm flex items-center gap-2"
          download
        >
          <Download class="w-6 h-6" />
          Descargar CV
        </a>
      </div>
    </div>
  </div>
</Section>
