---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"

import "../styles/global.css";

interface Props {
  title: string;
}
const description = "Portafolio desarrollado en el framework astro de Giovanni Salinas, Ingeniero en Informática.";

const { title } = Astro.props;
---


<html lang="es">
	<head>
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />

		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
		name="keywords"
		content="Giovanni Salinas, Ingeniería en Informática, Ciberseguridad, Desarrollo Web, Programación, Python, Ethical Hacker"
		/>
		<meta name="author" content="Giovanni Salinas" />
		<meta http-equiv="content-language" content="es" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/favicon.png" />
		<meta property="og:image" content="/favicon.png" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content="https://potatox.me/" />
		<meta property="og:site_name" content="potatox" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_CL" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<link rel="canonical" href="https://potatox.me/" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
		href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
		rel="stylesheet"
		/>
		
	</head>
	<body class="flex flex-col min-h-screen bg-dark-gradient-dots px-10">
		<main class="flex-grow flex justify-center">
		  <slot />
		  <Analytics />
		  <SpeedInsights/>
		</main>
	  </body>
</html>
