---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"

import "../styles/global.css";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}
const description = "Portafolio desarrollado en el framework astro de Giovanni Salinas, Ingeniero en Informática.";

const { title } = Astro.props;
---


<html lang="en">
	<head>
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />

		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta
		name="keywords"
		content="Giovanni Salinas, Ingeniería en Informática, Ciberseguridad, Desarrollo Web, Programación, Python, Ethical Hacker"
		/>
		<meta name="author" content="Giovanni Salinas" />
		<meta http-equiv="content-language" content="es" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="" />
		<meta name="twitter:creator" content="" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="" />
		<meta name="og:image" content="" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content="" />
		<meta name="og:site_name" content="potatox" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_CL" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<link
		href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
		rel="stylesheet"
		/>
		<ClientRouter />
	</head>
	<body class="flex flex-col min-h-screen bg-neutral-900 px-10">
		<main class="flex-grow flex justify-center">
		  <slot />
		  <Analytics />
		  <SpeedInsights/>
		</main>
	  </body>
</html>
