---
import Section from "@/components/Section.astro"
import { education } from "@cv"
---

<Section title="Educación">
  <div class="max-w-4xl mx-auto">
    <ul class="flex flex-col gap-8">
      {
        education.map(({ institution, startDate, endDate, area, score }) => {
          const startYear = startDate
          const endYear = endDate ? endDate : "Actual"
          const years = `${startYear} - ${endYear}`

          return (
            <li class="border border-gray-200 rounded-lg p-4">
              <article class="space-y-2">
                <header class="flex justify-between items-center">
                  <div>
                    <h3 class="font-medium text-lg text-gray-900">{institution}</h3>
                    <p class="text-sm text-gray-600">{area}</p>
                  </div>
                  <div class="text-right">
                    <time class="text-sm text-gray-500">{years}</time>
                    <p class="text-sm text-gray-500">Promedio: {score}</p>
                  </div>
                </header>
              </article>
            </li>
          )
        })
      }
    </ul>
  </div>
</Section>
