---
import Section from "@/components/Section.astro"
import { projects } from "@cv"
---

<Section title="Proyectos">
  <div class="max-w-4xl mx-auto">
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-center">
      {
        projects.map(({ url, description, highlights, name, isActive }, index) => (
          <li class={`border border-gray-200 rounded-lg p-6 flex flex-col h-full ${projects.length % 2 !== 0 && index === projects.length - 1 ? 'sm:col-start-1 sm:col-span-2' : ''}`}>
            <article class="flex flex-col h-full">
              <header class="flex-grow">
                <h3 class="mb-2 text-xl font-semibold">
                  <a href={url} title={`Ver el proyecto ${name}`} class="text-gray-200 hover:underline">
                    {name}
                  </a>
                  {isActive && <span class="text-green-500">•</span>}
                </h3>
                <p class="text-base text-gray-300 mb-2">{description}</p>
              </header>
              <footer class="flex flex-wrap gap-2 text-sm justify-center pt-4">
                {highlights.map((highlight) => (
                  <span class="bg-gray-200 text-gray-900 rounded-md py-1 px-3">{highlight}</span>
                ))}
              </footer>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
